.main{
    margin: auto;
    width: 70%;
    padding: 20px 20px 20px 20px;    
}

.main > p{
    padding-left: 10px;
    font-size: 20px;
    font-weight: bolder;
}

.content{
    display:inline-flex;
}

.content > input{
    margin: 10px 10px 10px 10px;
}

.button{    
    margin-right: 10px;
    border-radius: 5px;
    color: white;
    font-weight: bolder;
    height: 20px;
    width: 150px;
    text-align: center;
    cursor:pointer;
}

.green{
    margin: 10px 0px 10px 0px;
    background-color: green;
    border: 1px solid green;
}

#img{
    width: 100%;
}
